<div class="container-fluid mt-lg-5 mb-lg-5 text-center">

  <br>Ürünlerimiz ile ilgili bilgi almak
  <br> ve
  <br> sipariş vermek için
  <br> bizimle iletişime geçiniz.
  <br> Whatsapp üzerinden bilgi alabilir ve Kapıda Ödeme yöntemi ile güvenle sipariş verebilirsiniz.
  <br>
  <br>
  <div style="display: flex; flex-direction: row; justify-content: center; align-content: center; align-items: center">
    <i class="fab fa-whatsapp fa-3x"></i> <span>&nbsp;&nbsp;&nbsp;&nbsp; 0539 360 31 22</span>

  </div>
</div>
