<div class="container mt-lg-5">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" style="height: 253px" src="././assets/tadim-paketi.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tadım Paketi</h5>
        <p class="card-text">Açıklaması</p>
        <p class="card-text">
          <i class="fas fa-lira-sign"></i>
          <b class="text-muted"> 35,00</b> <small class="text-muted"> (1 kg)</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="././assets/green-olive.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Yeşil Zeytin</h5>
        <p class="card-text">Açıklaması</p>
        <p class="card-text">
          <i class="fas fa-lira-sign"></i>
          <b class="text-muted"> 35,00</b> <small class="text-muted"> (1 kg)</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" style="height: 253px" src="././assets/black-olive.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Siyah Zeytin</h5>
        <p class="card-text">Açıklaması</p>
        <p class="card-text">
          <i class="fas fa-lira-sign"></i>
          <b class="text-muted"> 35,00</b><small class="text-muted"> (1 kg)</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="././assets/green-olive.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Yeşil Zeytin</h5>
        <p class="card-text">Açıklaması</p>
        <p class="card-text">
          <i class="fas fa-lira-sign"></i>
          <b class="text-muted"> 35,00</b><small class="text-muted"> (1 kg)</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="././assets/green-olive.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Yeşil Zeytin</h5>
        <p class="card-text">Açıklaması</p>
        <p class="card-text">
          <i class="fas fa-lira-sign"></i>
          <b class="text-muted"> 35,00</b><small class="text-muted"> (1 kg)</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" style="height: 253px" src="././assets/black-olive.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Yeşil Zeytin</h5>
        <p class="card-text">Açıklaması</p>
        <p class="card-text">
          <i class="fas fa-lira-sign"></i>
          <b class="text-muted"> 35,00</b> <small class="text-muted"> (1 kg)</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="././assets/green-olive.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Yeşil Zeytin</h5>
        <p class="card-text">Açıklaması</p>
        <p class="card-text">
          <i class="fas fa-lira-sign"></i>
          <b class="text-muted"> 35,00</b> <small class="text-muted"> (1 kg)</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" style="height: 253px" src="././assets/black-olive.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Siyah Zeytin</h5>
        <p class="card-text">Açıklaması</p>
        <p class="card-text">
          <i class="fas fa-lira-sign"></i>
          <b class="text-muted"> 35,00</b><small class="text-muted"> (1 kg)</small></p>
      </div>
    </div>

  </div>
</div>

